[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-easymotio"]
	path = vim/vim/bundle/vim-easymotio
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/vim-abolish"]
	path = vim/vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/ag.vim"]
	path = vim/vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/vim/bundle/jshint.vim"]
	path = vim/vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-exchange"]
	path = vim/vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim/bundle/tmuxline.vim"]
	path = vim/vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "terminal/solarized"]
	path = terminal/solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "terminal/mac_solarized"]
	path = terminal/mac_solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
