[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-easymotio"]
	path = vim/vim/bundle/vim-easymotio
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/vim-abolish"]
	path = vim/vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/ag.vim"]
	path = vim/vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/vim/bundle/jshint.vim"]
	path = vim/vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-exchange"]
	path = vim/vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim/bundle/tmuxline.vim"]
	path = vim/vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "terminal/solarized"]
	path = terminal/solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "terminal/mac_solarized"]
	path = terminal/mac_solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim/bundle/vim-stylus"]
	path = vim/vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/vim/bundle/vim-jade"]
	path = vim/vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/vim/bundle/vim-ls"]
	path = vim/vim/bundle/vim-ls
	url = https://github.com/gkz/vim-ls.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-jsdoc"]
	path = vim/vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/tern_for_vim"]
	path = vim/vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim/vim/bundle/purescript-vim"]
	path = vim/vim/bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "vim/vim/bundle/vim-jsx"]
	path = vim/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
